*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		list-style: none;
		font-family: 'Arial';
}

a{
	text-decoration: none;
}

body{
		background-color: #c5c5c5;
}

.main-content{
		min-height: 100vh;
		width: 80%;
		margin: 2rem auto;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
}

.left-section{
		grid-column: span 2;
		height: 100%;
		background-color: #00324A;
}

.right-section{
		grid-column: span 5;
		background-color: #f7f7f7;
		height: 100%;
}

.left-content{
		padding: 2rem 1.8rem;
}
.profile{
		width: 100%;
}

.image{
		width: 100%;
		text-align: center;
}
.profile img{
		border-radius: 50%;
		border: 8px solid #002333;
		
}

.name{
		font-size: 2rem;
		color: white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.2rem 0;
}

.career{
		font-size: 1.2rem;
		color: #94D9EA;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 2.6rem;
		border-bottom: 1px solid #002333;
}

.main-title{
		margin-bottom: 2rem;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #f7f7f7ec;
}

.contact-info{
		margin-bottom: 2rem;
} 

.contact-info ul li{
		padding: .4rem 0;
		display: flex;
		align-items: center;
		color: #718096;
}

.contacts-link, .text{
	position: relative;
	transition: all 1s;
	color: white;
}

.link:hover{
	color: #94D9EA;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -3px;
	left: 0px;
  width: 0%;
  height: 1.5px;
  background-color: #94D9EA;
  transition: .5s ease;
}

.link:hover::before {
	width: 100%;
}

.icon-image {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 22px;
	height: 22px;
	margin-right: 8px;
}

.location{
	background-image: url(./assets/img/map.svg);
}

.email{
	background-image: url(./assets/img/email.svg);
}

.telegram{
	background-image: url(./assets/img/telegram.svg);
}

.discord{
	background-image: url(./assets/img/discord.svg);
}

.github{
	background-image: url(./assets/img/github.svg);
}

.skills-section ul{
		margin-bottom: 2rem;
}

.skills-section ul li, .languages-section ul li{
	margin-bottom: 0.9rem;
}

.skills-section ul li:last-child, .languages-section ul li:last-child{
	margin-bottom: 0px;
}

.skill-title, .languages-section{
		text-transform: uppercase;
		color: #f7f7f7;
		font-size: 1rem;
}

.languages-section{
	text-transform: none;
}

.right-main-content{
		padding: 2rem 3rem;
}


.right-title{
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #00324A;
		margin-bottom: 1.2rem;
		position: relative;
		font-family: Georgia;
} 

.right-title::after{
		content: "";
		position: absolute;
		width: 80%;
		height: .2rem;
		background-color: #00324A;
		border-radius: 12px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
}

.paragraph{
		line-height: 1.6rem;
		color: #718096;
		font-size: 1.1rem;
}

.section{
		margin-bottom: 2rem;
}

.showcase{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 20px;
}

.showcase:last-child{
	margin-bottom: 0px;
}

.left-title{
		letter-spacing: 1px;
		font-size: 1.3rem;
		color: rgb(71, 70, 70);
		text-transform: uppercase;
}
.showcase-title{
		margin-bottom: 10px;
		letter-spacing: 1px;
		font-size: 1.3rem;
		color: #2D9CDB;
		text-transform: uppercase;
		transition: .5s ease;
}

.right-part{
		margin-bottom: 2rem;
}

.cert-box{
	max-width: 270px;
	transition: .5s ease;
}

.cert-box img{
	width: 100%;
}

.projects{
	max-width: 260px;
	transition: .5s ease;
}

.photo{
	display: block;
}

.projects:hover, .cert-box:hover{
	box-shadow: 0 0 10px #252424;
}

.projects img{
	width: 100%;
}

.projects-title:hover{
	color: #00324A;
}

/*Media Querries*/

@media screen and (max-width: 1672px){
	.right-title::after{
		width: 70%;
}
}

@media screen and (max-width:893px){
		.right-title::after{
				width: 60%;
		}
}
@media screen and (max-width:703px){
		.right-title::after{
				width: 40%;
		}
}

@media screen and (max-width:519px){
	.right-title::after{
			display: none;
	}
}

@media screen and (max-width:780px){
		.showcase{
				grid-template-columns: repeat(1, 1fr);
				row-gap: 20px;
		}
}
@media screen and (max-width:780px){
		.left-section{
				grid-column: span 3;
		}
		.right-section{
				grid-column: span 4;
		}
}


@media screen and (max-width:1200px){
		.main-content{
				grid-template-columns: repeat(1, 1fr);
		}
		.profile img{
				width: 30%;
		}
}
@media screen and (max-width:700px){
		.profile img{
				width: 50%;
		}
}
@media screen and (max-width:390px){
		.name{
				font-size: 1.5rem;
		}
}
